name: Build Electron App

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: |
        for i in {1..3}; do
          npm ci && break || sleep 5
        done

    - name: Build Next.js
      run: npm run build

    - name: Build Electron app
      run: npx electron-builder
      env:
        CSC_IDENTITY_AUTO_DISCOVERY: false
